<div class="dashboard-container">
  <h2>Clinic Outcomes</h2>

  <mat-tab-group>
    <mat-tab label="30 days">
      <div class="dashboard-row">
        <mat-card class="dashboard-card">
          <mat-card-title>Time in Range </mat-card-title>
          <mat-card-content>
            Hi 30
            <ngx-charts-bar-vertical
              [results]="timeRangeData$ | async"
              [xAxis]="false"
              [yAxis]="true"
              [legend]="showLegend"
              [legendTitle]="'mg/dL'"
              [legendPosition]="legendPosition"
              [showDataLabel]="showLabels"
              [scheme]="colorScheme"
            >
            </ngx-charts-bar-vertical>
          </mat-card-content>
        </mat-card>

        <mat-card class="dashboard-card">
          <mat-card-title>Glucose Management Indicator (GMI)</mat-card-title>
          <mat-card-content>
            <ngx-charts-pie-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="gmiData$ | async"
              [gradient]="gradient"
              [legend]="showLegend"
              [legendTitle]="'GMI (%)'"
              [legendPosition]="legendPosition"
              [labels]="showLabels"
              [doughnut]="isDoughnut"
            >
            </ngx-charts-pie-chart>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="60 days">
      <div class="dashboard-row">
        <mat-card class="dashboard-card">
          <mat-card-title>Time in Range </mat-card-title>
          <mat-card-content> Hi 60 </mat-card-content>
        </mat-card>

        <mat-card class="dashboard-card">
          <mat-card-title>Glucose Management Indicator (GMI)</mat-card-title>
          <mat-card-content> Hi 60 </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="90 days">
      <div class="dashboard-row">
        <mat-card class="dashboard-card">
          <mat-card-title>Time in Range </mat-card-title>
          <mat-card-content> Hi 90 </mat-card-content>
        </mat-card>

        <mat-card class="dashboard-card">
          <mat-card-title>Glucose Management Indicator (GMI)</mat-card-title>
          <mat-card-content> Hi 90 </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
