.dashboard {
    padding : 16px;

    &__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap:20px;
    }

    &__card {
      min-width: 480px;
      min-height: 580px;
    }

    &__chart {
      display: flex;
      justify-content: center; 
      align-items: center;     
    }

    &__icon {
      color: #3B71CA;
    }

    &__header {
      display : flex;
      justify-content: space-between;
    }
}