.dashboard-container {
    padding : 16px;
}

.dashboard-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
}

.dashboard-card {
  flex: 1;
  min-width: 420px;
  min-height: 420px;
}